@media (min-width:320px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 350px;
  }
.contacts-title {
  width: 100%;
}
.contacts-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts-email, .contacts-text {
  width: 30%;
}
.contacts-email__link, .contacts-text__adres {
  width: 69%;
}
.contacts-button {
  width: 260px;
  height: 50px;
  background-color: white;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  border-color: #444444;
  border: 2px solid;
  margin: 0 auto;
}
}
