@media (min-width:320px) {
.page-footer {
  display: flex;
  margin: auto;
  max-width: 350px;
  flex-wrap: wrap;
  background-color: #f1f1f1;
}
.footer-logo__img {
  display: none;
}

.page-footer__social {
  margin: auto;
}
.social__list {
  width: 100%;
  display: flex;
  padding: 0;
}
.social__item  {
  list-style: none;
  width: 35px;
  height: 35px;
}

.social__link--instagram {
background-image: url("../img/icon-insta.svg");
background-position: center;
background-repeat: no-repeat;
}
.social__link--facebook {
  background-image: url("../img/icon-fb.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.page-footer__copyright {
  width: 100%;
  display: flex;
  justify-content: center;
}
.copyright_link {
  padding-left: 25px;
}
.copyright_text {
  font-weight: bold;
}
}
