@media (min-width:320px) {
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}
}


@media (min-width:768px) {
  .header-logo {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-flex: 1;
         -ms-flex: 1 1 100%;
             flex: 1 1 100%;
     -webkit-box-pack: left;
         -ms-flex-pack: left;
             justify-content: flex-start;
     padding-bottom: 20px;
     padding-left: 50px;
     background-color: #ffffff;
   }
}
/*
@media screen and (min-width:1050px) {
  .header-logo {
    justify-content: center;
    padding-left: 0px;
}
}
*/
