@media (min-width:320px) {
  .reviews {
      max-width: 320px;
      margin: auto;
      position: relative;
  }

.reviews-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  padding-left: 9.3%;
}
.reviews__list {
  color: #444444;
  font-size: 15px;
  line-height: 30px;
  padding-left: 9.3%;
  padding-right: 9.3%;
}
.reviews__item {
  margin: 0;
}
.author_name {
  color: black;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.autor-email {
  color: #444444;
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
}
.reviews___prev {
  width: 48%;
  height: 50px;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  border: 0;
}
.reviews___next {
  width: 48%;
  height: 50px;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  border: 0;
}
.reviews-button {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #ececec;
  height: 50px;
  margin-bottom: 40px;
}
.reviews-send {
  display: flex;
  justify-content: center;
}
.goods-buy__reviews {
  width: 100%;
  margin-left: 9.3%;
  margin-right: 9.3%;
}
.reviews___prev:hover, .reviews___next:hover {
  opacity: 0.6;
}

.reviews___prev:focus, .reviews___next:focus {
  opacity: 0.3;
  outline:0;
}
}

@media (min-width:768px) {
.reviews {
  background-image: url("../img/review@1x.jpg");
  background-repeat: no-repeat;
  margin: auto;
  max-width: 768px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews__item {
  margin: 0;
}
.goods-buy__reviews {
    margin-top: 0px;
    width: 100%;
}
.reviews-title {
  order: 1;
  padding-left: 6.5%;
  padding-right: 6.5%;

}
.reviews__list {
  order: 3;
  display: flex;
  flex-wrap: wrap;
  padding-left: 6.5%;
  padding-right: 6.5%;
  justify-content: space-between;
}
.reviews-send {
  order: 2;
  display: flex;
  align-items: center;
  padding-right: 6.5%;
  margin: 0;
}
.reviews-button {
  max-width: 167px;
  margin-left: 0px;
  margin-right: 0px;
  border: 0;
}
.reviews___prev {
  width: 77px;
}
.reviews___next {
  width: 77px;
}
}
@media (min-width:1150px) {
  .reviews {
    max-width: 1250px;

  }
  .reviews-title {
    padding-left: 22%;
  }
  .reviews__list {
    padding-left: 22%;
  }
  .reviews-send {
    padding-right: 8%;
  }
  .reviews__item {
    padding-right: 8%;
  }
}
